@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    var isUserAuthenticated = SignInManager.IsSignedIn(User);
    ViewData["Title"] = "Home Page";
}
<!-- ======= Hero Section ======= -->

<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(../assets/img/slide/slide-1.webp)">
                <div class="container">
                    <h2>Welcome to <span>News Nexus</span></h2>
                    <p>Stay informed with the latest headlines from around the globe...</p>

                    <div class="container2">
                        @if (!isUserAuthenticated)
                        {
                            <div class="popup" id="popup">
                                <div class="icon">
                                    <span class="material-symbols-outlined">
                                        <i class="bi bi-lightbulb" style="color: yellow"></i>
                                    </span>
                                </div>
                                <div class="title">
                                    <p class="p1" style="color: rgb(4,59,92)">Sorry, access to this Page Is Restricted</p>
                                </div>
                                <div class="description">
                                    <p class="p2" style="color: rgb(4,59,92)">You Should Login To The Website To Unlock 🔑 This Page 🔒</p>
                                </div>
                                <a id="open-popup-btn" class="appointment-btn scrollto" href="/identity/Account/login">
                                    Log In
                                </a>
                                <a id="dismiss-popup-btn" onclick="closePopup()" class="appointment-btn scrollto" href="#">Dismiss</a>
                            </div>
                        }
                    </div>

                    @if (isUserAuthenticated)
                    {
                        <a href="/Home/Categories" class="btn-get-started scrollto">Read More</a>
                    }
                    else
                    {
                        <a onclick="openPopup()" href="#" class="btn-get-started scrollto">Read More</a>
                    }
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(../assets/img/slide/slide-2.webp)">
                <div class="container">
                    <h2>Your Trusted Source for News</h2>
                    <p>At News Nexus, we prioritize delivering factual and unbiased news...</p>
                    <a href="/Home/Categories" class="btn-get-started scrollto">Read More</a>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(../assets/img/slide/slide-3.webp)">
                <div class="container">
                    <h2>Explore the World with Us</h2>
                    <p>Join the News Nexus community and explore the world...</p>
                    <a href="/Home/Categories" class="btn-get-started scrollto">Read More</a>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->

<script>
    document.getElementById("open-popup-btn").addEventListener("click", function () {
        document.getElementsByClassName("popup")[0].classList.add("active");
    });

    let popup = document.getElementById("popup");
    function openPopup() {
        popup.classList.add("open-popup");
    }
    function closePopup() {
        popup.classList.remove("open-popup");
    }
</script>

<style>
    .container2 {
        margin: auto;
    }

    .p1 {
        color: rgb(4,59,92);
    }

    .popup {
        width: 350px;
        height: 400px;
        padding: 40px 20px;
        background-color: white;
        border-radius: 10px;
        box-sizing: border-box;
        z-index: 2;
        text-align: center;
        visibility: hidden;
        top: 0%;
        left: 25%;
        transform: translate(-50%,-50%) scale(0.1);
        transition: transform 0.4s;
        margin: 350px 400px auto;
        position: absolute;
    }

    .open-popup {
        visibility: visible;
        transform: translate(-50%,-50%) scale(1);
        transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
    }

    .popup .icon {
        margin: 5px 0;
        width: 50px;
        height: 50px;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
        line-height: 60px;
    }

        .popup .icon .material-symbols-outlined {
            font-size: 30px;
            color: bisque;
        }

    .popup .title {
        margin: 5px 0;
        font-size: 25px;
        font-weight: 600;
    }

    .popup .description {
        color: #222;
        font-size: 15px;
        padding: 5px;
    }

    .popup.active .icon {
        transition: all 300ms ease-in-out 250ms;
    }

    .popup.active .title {
        transition: all 300ms ease-in-out 300ms;
    }

    .popup.active .description {
        transition: all 300ms ease-in-out 350ms;
    }
</style>