@model news_websites.Models.Categories

@{
    ViewData["Title"] = "Create";
}
<div style="text-align : center">
<h1>Create New Category</h1>


<hr />
    <div class="row mb-5" style="padding-left : 600px">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="padding-bottom : 10px">
                    <label asp-for="CategoryId" class="control-label mb-2"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
                <div class="form-group" style="padding-bottom : 10px">
                    <label asp-for="Name" class="control-label mb-2"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
                <div class="form-group" style="padding-bottom : 10px">
                    <label asp-for="Description" class="control-label mb-2"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

                <div class="form-group" style="padding-bottom : 10px">
                    <input type="submit" value="Create" class="btn btn-outline-success" />
                    <a style="padding-left : 40px" asp-action="Index">Back to List</a>

            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
