@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 style="color: rgb(4,59,92);
    padding-left: 500px;
    margin-bottom : 100px;
    padding-top:50px;">
    @ViewData["Title"]
</h1>
<div style="margin:100px;margin-bottom:300px" class="alert alert-success d-flex align-items-center" role="alert">
    <i style="color:green;padding-right:10px" class="bi bi-check-circle"></i>
    <div>
        Please check your email to reset your password.
    </div>

    
