@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row rowdesign">
    <div class="col-md-4"style="margin:auto;margin-bottom:100px;">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
         
                <h5>Enter Your Email</h5>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-20 btn btn-lg  btn-outline-success mt-3 " style="margin-left : 114px">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    .rowdesign {
        padding-left: 100px;
        padding-top : 50px;
        margin-top: 50px
    }

    h5 {
        color: rgb(4,59,92);
       position:relative;
       right : 170px;
       top : 50px
    }

    h1 {
        color: rgb(4,59,92);
        padding-left: 600px;
        margin-bottom : 100px;
        padding-top:50px;

    }
</style>